@model AllArticlesQueryModel
@inject IPublisherService publisherService

@{
    ViewBag.Title = "Всички Статии";
}

<h2 class="text-center mt-3">@ViewBag.Title</h2>
<hr />

@if (await publisherService.ExistsByUserIdAsync(User.Id()))
{
    <div class="text-center mb-4">
        <a asp-controller="Publisher" asp-action="AddArticle" class="btn btn-primary btn-lg">Добави Статия</a>
    </div>
}

<form method="get">
    <div class="row justify-content-center align-items-end">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Търси...">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Най-скоро добавени</option>
                    <option value="1">Най-късно добавени</option>
                    <option value="2">Най-големи</option>
                    <option value="3">Най-малки</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Търси" class="btn btn-success w-100" />
        </div>
    </div>
</form>

@if (!Model.Articles.Any())
{
    <h2 class="text-center mt-5">Няма намерени статии!</h2>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5">
        @foreach (var article in Model.Articles)
        {
            <partial name="_ArticlePartial" model="@article" />
        }
    </div>
    <partial name="_ArticlePagesPartial" model="@Model" />
}