<div class="text-center mb-4">
    <form asp-controller="Book" asp-action="Search" method="get" class="row">
        <div class="col-md-11">
            <div class="form-group">
                <input type="text" name="input" class="form-control" placeholder="Търсене... (На кирилица)" />
            </div>
        </div>
        <div class="col-md-1 d-flex justify-content-end">
            <div class="form-group">
                <button type="submit" class="btn btn-warning mr-2">Търси</button>
            </div>
            <div class="form-group">
                <a asp-controller="Book" asp-action="All" class="btn btn-secondary ml-2">Изчисти</a>
            </div>
        </div>
    </form>
</div>