@{
    ViewData["Title"] = "Админ - Действия";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей!</h2> 
    <p class="lead mb-1 mt-3"> Това е Admin менюто. Тук можеш да <b>добавяш</b> и <b>премахваш</b> <b>права</b>.</p> 
    <p class="lead mt-1"> Също можеш да виждаш всички <b>Publisher-и</b> и <b>Admin-и.</b></p>
    <hr class="my-4"> 
    <a asp-area="Admin" asp-controller="Admin" asp-action="AddPublisher" class="btn btn-secondary btn-lg">Добави Publisher</a>
    <a asp-area="Admin" asp-controller="Admin" asp-action="RemovePublisher" class="btn btn-danger btn-lg">Премахни Publisher</a>
    <span> | </span> 
    <a asp-area="Admin" asp-controller="Admin" asp-action="AddAdmin" class="btn btn-secondary btn-lg">Добави Admin</a>
    <a asp-area="Admin" asp-controller="Admin" asp-action="RemoveAdmin" class="btn btn-danger btn-lg">Премахни Admin</a>
</div>