@model UserServiceModel

@{
    ViewBag.Title = "Премахни Admin";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTii3hM5abJEj_Zu0wumINDLGvHaT-MZaesc9dj-gXSUg&s" alt="User Image" style="max-width: 200px; height: auto;">
                    <h2 class="card-title" style="margin-top: 15px;">@Model.FullName</h2>
                    <p class="text-danger mt-3">Сигурен ли си, че искаш да премахнеш този потребител като Admin?</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <form asp-action="RemoveAdminConfirmed" method="post" class="col-12">
                        <input type="hidden" asp-for="Id" />
                        <a asp-area="Admin" asp-controller="User" asp-action="All" class="btn btn-secondary mb-1 w-100 p-3 fw-bold">Обратно към всички</a>
                        <button type="submit" class="btn btn-danger mb-1 w-100 p-3 fw-bold">Премахни</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .text-danger {
        color: #dc3545;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>