@{
    ViewBag.Title = "Добави Книга";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_BookFormPartial" model = "@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}