@inject UserManager<IdentityUser> UserManager
@model AllBookReviewsQueryModel

@{
    ViewBag.Title = "Всички Ревюта";
}

<div class="text-center mb-4">
    <a asp-controller="Book" asp-action="AddReview" class="btn btn-primary btn-lg">Добави Ревю</a>
</div>

<form method="get">
        <div class="row justify-content-center">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Търси...">
        </div>

        <div class="form-group col-md-2">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0">Най-скоро добавени</option>
                <option value="1">Най-късно добавени</option>
                <option value="2">Оценка (Възходяща)</option>
                <option value="3">Оценка (Низходяща)</option>
            </select>
        </div>

        <div class="col-md-1 d-flex align-items-end">
            <input type="submit" value="Търси" class="btn btn-success w-100" />
        </div>
    </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 mt-5">
    @if (!Model.BookReviews.Any())
    {
                <h2 class="text-center">Няма намерени ревюта за тази книга!</h2>
    }
    else
    {
        var review = Model.BookReviews.FirstOrDefault(r => r.UserId == UserManager.GetUserId(User));

        @if (review != null)
        {
                        <h2 class="text-center">Моето Ревю</h2>
                        <partial name="_BookReviewPartial" model="@review" />
        }
        @foreach (var currentReview in Model.BookReviews)
        {
            @if (currentReview.UserId == UserManager.GetUserId(User))
            {
                continue;
            }
                        <h2 class="text-center">@ViewBag.Title</h2>
                        <partial name="_BookReviewPartial" model="@currentReview" />
        }
                <partial name="_BookReviewPagesPartial" model="@Model" />
    }
    </div>