@model BookEditViewModel

@{
    ViewBag.Title = "Редактирай Книга";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_BookEditFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}