@using NovelNest.Core.ViewModels.Book
@model IEnumerable<BookAllViewModel>

@{
    ViewBag.Title = "Търсени Книги";
}

<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

<partial name="_BookSearchPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}